---
import Layout from '../layouts/Layout.astro'
import NotFound404 from '../components/molecules/NotFound404.astro'

export const prerender = false
---

<Layout title="Tablero | JWGo!" description="Tablero digital">
  <main>
    <NotFound404 />
    <p class="text-2xl md:text-3xl font-semibold text-center">
      Esta página no existe
    </p>
  </main>
</Layout>
