---
import CardPage from '../components/molecules/CardPage.astro'
import Layout from '../layouts/Layout.astro'

export const prerender = true
---

<Layout title="JWGo!" description="Bienvenido a JWGo!">
  <main class="grid md:grid-cols-2 gap-6">
    <CardPage
      title="Tablero digital"
      description="Todos los últimos anuncios y documentos de la congregación"
      page="board"
    />

    <CardPage
      title="Programa de reuniones"
      description="Asignaciones y participaciones de las próximas reuniones"
      page="meetings"
    />

    <CardPage
      title="Territorios"
      description="Listado y gestión de todos los territorios de la congregación"
      page="territories"
    />
  </main>
</Layout>
