---
import { WeekMeetings } from '../components/organisms/WeekMeetings.tsx'
import CalendarIcon from '../components/atoms/icons/CalendarIcon.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Reuniones | JWGo!" description="Reuniones semanales">
  <main class="pb-6">
    <WeekMeetings client:only transition:persist>
      <CalendarIcon
        slot="calendarIcon"
        size={40}
        strokeColor="rgb(100, 116, 139)"
        strokeWidth="1"
      />
    </WeekMeetings>
  </main>
</Layout>
