---
import { WeekMeetings } from '../components/organisms/WeekMeetings.tsx'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Reuniones | JWGo!" description="Reuniones semanales">
  <main class="pb-6">
    <WeekMeetings client:only transition:persist />
  </main>
</Layout>
