---
import LogoIcon from '../atoms/icons/LogoIcon.astro'
---

<div class="flex mb-5">
  <LogoIcon size="42" />

  <h1 class="pt-1.5 pl-2 text-3xl font-bold">
    JW<span class="font-normal text-2xl italic">Go!</span>
  </h1>
</div>
