---
import LogoIcon from '../atoms/icons/LogoIcon.astro'
---

<div class="flex mb-5">
  <h1 class="pt-1.5 pl-2 text-4xl font-bold">
    JW<span class="font-normal text-3xl italic">Go!</span>
  </h1>
</div>
