---
import BoardIcon from '../atoms/icons/BoardIcon.astro'
import HomeIcon from '../atoms/icons/HomeIcon.astro'
import MeetingsIcon from '../atoms/icons/MeetingsIcon.astro'
import TerritoriesIcon from '../atoms/icons/TerritoriesIcon.astro'

interface Routes {
  url: string
  name: string
}

const routes: Routes[] = [
  {
    url: '',
    name: 'Inicio',
  },
  {
    url: 'board',
    name: 'Tablero',
  },
  {
    url: 'meetings',
    name: 'Reuniones',
  },
  {
    url: 'territories',
    name: 'Territorios',
  },
]
---

<div class="py-4">
  <ul>
    {
      routes.map((route) => {
        return (
          <li class="mb-3 text-md font-medium">
            <a href={`/${route.url}`} class="flex justify-start items-center">
              <span class="pr-4">
                {route.url === '' && <HomeIcon />}
                {route.url === 'board' && <BoardIcon />}
                {route.url === 'meetings' && <MeetingsIcon />}
                {route.url === 'territories' && <TerritoriesIcon />}
              </span>
              <span>{route.name}</span>
            </a>
          </li>
        )
      })
    }
  </ul>
</div>
