---
import NewTerritoryIcon from '../atoms/icons/NewTerritoryIcon.astro'
import ReturnTerritoryIcon from '../atoms/icons/ReturnTerritoryIcon.astro'

interface Routes {
  url: string
  name: string
}

const routes: Routes[] = [
  {
    url: 'new-territory',
    name: 'Nuevo territorio',
  },
  {
    url: 'return-territory',
    name: 'Devolver territorio',
  },
]
---

<div>
  <ul class="flex lg:flex-col">
    {
      routes.map((route) => {
        return (
          <li class="flex-1 text-md font-medium lg:mb-3">
            <a
              href={`/${route.url}`}
              class="flex flex-col lg:flex-row justify-center lg:justify-start items-center"
            >
              <span class="pb-1 lg:pr-4 lg:pb-0">
                {route.url === 'new-territory' && <NewTerritoryIcon />}
                {route.url === 'return-territory' && <ReturnTerritoryIcon />}
              </span>
              <span class="font-medium text-sm lg:text-base">{route.name}</span>
            </a>
          </li>
        )
      })
    }
  </ul>
</div>
