---
import { ViewTransitions } from 'astro:transitions'
import GlobalStyles from '../styles/GlobalStyles.astro'
import Brand from '../components/molecules/Brand.astro'
import Header from '../components/organisms/Header.astro'
import Menu from '../components/molecules/Menu'
import Footer from '../components/organisms/Footer.astro'
import Sidebar from '../components/organisms/Sidebar.tsx'
import Tabbar from '../components/organisms/Tabbar.astro'
import Shortcuts from '../components/molecules/Shortcuts.astro'
import Copyright from '../components/molecules/Copyright.astro'
import BoardIcon from '../components/atoms/icons/BoardIcon.astro'
import HomeIcon from '../components/atoms/icons/HomeIcon.astro'
import MeetingsIcon from '../components/atoms/icons/MeetingsIcon.astro'
import TerritoriesIcon from '../components/atoms/icons/TerritoriesIcon.astro'

interface Props {
  title: string
  description: string
  lang?: string
}

const { title, lang = 'es', description } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <GlobalStyles />
    <ViewTransitions />
  </head>
  <body class="font-base text-slate-800 font-normal">
    <div class="w-full h-screen flex bg-white">
      <Sidebar client:load>
        <Brand />
        <Menu client:load>
          <HomeIcon slot="HomeIcon" />
          <BoardIcon slot="BoardIcon" />
          <MeetingsIcon slot="MeetingsIcon" />
          <TerritoriesIcon slot="TerritoriesIcon" />
        </Menu>
        <Copyright slot="copyright" />
      </Sidebar>
      <div class="w-full flex flex-col justify-between overflow-x-hidden">
        <div class="px-8 py-6 bg-white">
          <Header />
        </div>
        <div
          class="flex flex-col justify-between overflow-y-auto w-full h-full mx-auto px-8 pb-20 max-w-screen-xl"
        >
          <slot />
        </div>
      </div>
      <Tabbar>
        <Shortcuts />
      </Tabbar>
    </div>
  </body>
</html>
